@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 2000;
    font-style: normal;
    font-size: 20px;
}

body{
    background-color: lightgrey;
}

.header{
    background: linear-gradient(to top, lightgrey, #000 20%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 10px 20%;
    padding-bottom: 20px;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 60px;
    width: auto;
    border-radius: 50%;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    transition: all 0.3s;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #FFFFFF;
    text-decoration: none;
}

.header .nav-links a:hover{
    color: #F8F32B;
}

.header .button button{
    font-size: 18px;
    box-sizing: border-box;
    width: 80px;
    height: 35px;
    padding: 9px, 25px;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border-radius: 20px;
}

.header .button button:hover{
    background-color: #F8F32B;
    transform: scale(1.1);

}